/* <img src="img/photo-BFG9000.jpg" width="220" height="165" alt="Перфоратор BOSCH">
<i>Интернет-магазин строительных материалов и инструментов для ремонта</i>
*/
:root{
--basic-white:#FFFFFF;
--basic-dark:#32425C;
--basic-very-dark:#293449;
--basic-red:#EE3643;
--basic-green:#63A63E;
--basic-yellow:#FFBF47;
--basic-blue:#3BBCE3;
--basic-purple:#DC91D8;
--basic-lime-green:#8ed78f;
--basic-light-orange:#ffc047;
--basic-light-grayish:#f9f5f0;
--basic-grey:#f7f3ec;
--basic-matt:#F1F5F7;

}

header{
background-color: var(--basic-matt);
padding-bottom: 60px; 

}

.page-body{
margin: 0;
padding: 0;
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 700;
color: ;
background-image: url();
background-position: top center;
background-repeat: no-repeat;
}

.block{
background-color: var(--basic-very-dark);
background-position: center;
color: var(--basic-white);
}
.container{
margin: 0 auto;
width: 940px;
}

.top-head{
display: grid;
grid-template-columns: 1fr min-content;
align-items: center;

}

.head-tehno a{
display: inline-block;
width: 170px;
padding: 11px 25px;
font-size: 24px;
line-height: 24px;
font-weight: 400;
font-family:"Arial",sans-serif;
text-transform: uppercase;
text-decoration: none;
text-align:center;
color: var(--basic-white);
background-color: var(--basic-red);
box-shadow: 0 5px 0 0 #b52933;
float: left;
}
.head-tehno{
position:absolute;
top: 0;
}


.search{
font-size: 16px;
padding: 6px;
line-height: 20px;
background: var(--basic-very-dark);
width: 271px;
margin-left:;
}

.top-head-helper{
display: grid;
grid-template-columns: auto auto auto;
list-style: none;	
padding-left: 0;
margin-left: 220px; 
margin-top: 0;
margin-bottom: 0;
align-items: center;
}


.order a{
color:var(--basic-white);
text-decoration: none;
}
.order{
width: 150px;
text-align: center;
background-color: var(--basic-green);
height: 100%;
padding:15px 20px;
box-sizing: border-box;

}


.button-buy{

}
.Object{
display:flex; 	
flex-direction: row;
width: 940px;
background-color: var(--basic-very-dark);
padding-top: 20px;
padding-bottom: 20px;
justify-content: space-around;
padding-left: 0px;
padding-right: 0px;

}

.Object li{
display: inline;
justify-content: center;
text-decoration:none;
}
.Object a{
color: var(--basic-white);
text-decoration:none;

}

.title-shop{
width: 250px;
float: left;
font-size: 16px;
font-style: italic;
color: var(--basic-red);
margin-left: 12%;
margin-bottom: 160px;
}

.tel{
}
main{
margin-top:60px ;
width: 100%;

}



.level ul{
display: grid;
grid-template-areas: 
"a b c"
"d d e"
"d d f";
grid-auto-rows: 123px;
grid-gap: 20px;

}

.section-main{
margin: 0 auto;
width: 940px;	
}
main li{
list-style: none;
text-decoration: none;
}

.category {
background-color: var(--basic-yellow);
padding-left: 23px;
padding-right: 163px;
padding-top: 20px;
padding-bottom: 73px;
color: var(--basic-white);
grid-area:a; 
}

.category:nth-child(2) {
background-color: var(--basic-blue);
grid-area: b;
}

.category:nth-child(3) {
background-color: var(--basic-purple);
grid-area: c;
}

.container-main a{
padding:10px 0;
text-transform:uppercase; 
font-size: 14px;
text-decoration:none;
color: var(--basic-white);
white-space: nowrap;

}

.men-toys {
background-color: #806F5B;
grid-area:d; 
}

.men-toys span{
color: var(--basic-white);
}

.men-toys h1 {
font-size: 36px;
text-transform: uppercase;
color: var(--basic-white);
}

.men-toys button{
width: 192px;
height: 38px;
background-color: var(--basic-red);
}

.men-toys a{
text-decoration: none;	
}

.seil50 {
background-color: blue;
grid-area:e; 

}

.delivery {
background-color: black;
grid-area:f; 
}

.button-controls{
text-align: center;
}


.wrapper{
width: 100%
}
.wrapper2{
width: 940px;
margin-left:auto; 
margin-right:auto;
margin-top:60px;
margin-bottom:20px;

}

.popular-goods{
width: 940px;
height: 90px;
margin-left:auto; 
margin-right:auto;
margin-top:60px;
margin-bottom:20px;
background-color: var(--basic-grey);
}

.goods-span{
text-transform: uppercase;
font-size: 30px;
margin-right: 20px;
margin-top: 30px;
text-align: center;

}
.products{
width: 940px;
margin: 0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 318px;
grid-gap: 20px;

}

.perforator{
background-color: #fff5ee;
display: flex;
text-align: center;
align-items: center;

}

.perforator .button{
font-weight: bold;
text-transform: uppercase;	
font-size: 17px;
line-height: 18px;
background-color: var(--basic-red);

}

.Popular-producers{
width: 940px;
margin:0px auto;
background-color: var(--basic-grey);
margin-left:auto; 
margin-right:auto;
margin-top:70px;
margin-bottom:20px;
height: 90px;
}


.firms{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 145px 145px; 
grid-gap: 20px;
}

.rows{
background-color: red;
}

.block_services{
width: 100%;
height: 500px;
margin: 70px 0;
background-color: var(--basic-matt);
}

.box-clearfix{
width: 940px;
margin: 0 auto;
}
.box-clearfix h2{
font-size: 30px;
padding-top: 70px;
margin-bottom: 30px;
text-transform: uppercase;
}

.box-clearfix p{
font-size: 13px;
font-family: PT Sans;
padding-top: 25px;
font-family: Cuprum;
font-style: normal;
font-weight: normal;
}


.car {
background-image: url(img/picture/car.png);
margin-right: 10px;
position: relative;
}

.block_footer {
width: 940px;
margin: 70px auto;
background-color: red;
display: grid;
grid-template-columns: 460px 160px;
grid-template-rows: ; 
}

.section-news{


}

.section-contacts{
margin-right: 0px;
text-align: left;
background-color: blue;
}

footer{
width: 100%;
background-color: var(--basic-dark);
}
.footer_cooperative{
width: 100%;
background-color: var(--basic-very-dark);
}

.rights{
width: 940px;
margin: 0 auto;	
color: white;
}

.footer-contacts{
width: 330px;
margin-left: 0px;
margin-right: 70px; 
height: 170px;
background-color: red;
}


.footer-right{
width: 620px;
background-color: yellow;
}



.head_tehno{
display: inline-block;
width: 170px;
padding: 11px 25px;
font-size: 24px;
line-height: 24px;
font-weight: 400;
font-family:"Arial",sans-serif;
text-transform: uppercase;
text-decoration: none;
text-align:center;
color: var(--basic-white);
background-color: var(--basic-red);
box-shadow: 0 5px 0 0 #b52933;
float: left;	
}
