
:root{
--basic-white:#FFFFFF;
--basic-very-dark:#293449;
--basic-red:#EE3643;
--basic-green:#63A63E;
--basic-yellow:#FFBF47;
--basic-blue:#3BBCE3;
--basic-purple:#DC91D8;
--basic-lime-green:#8ed78f;
--basic-light-orange:#ffc047;
--basic-light-grayish:#f9f5f0;
--basic-white:#FFFFFF;

}


.page-body{
margin: 0;
padding: 0;
font-family: "PT Sans Narrow", Arials, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 700;
color: ;
text-transform: uppercase;
background-color: var();
background-image: url();
background-position: top center;
background-repeat: no-repeat;
}

.block{
display: block;
background-color: var(--basic-very-dark);
background-position: center;
color: var(--basic-white);
bottom: 90%;
margin: 0 auto;



}
.container{
margin: 0 auto;
width: 940px;

}
.head-tehno a{

display: inline-block;
width: 170px;
padding: 11px 0 7px 30px;
font-size: 24px;
line-height: 24px;
font-weight: 400;
font-family:"Arial",sans-serif;
text-transform: uppercase;
text-decoration: none;
text-align:center;
color: var(--basic-white);
background-color: var(--basic-red);
box-shadow: 0 5px 0 0 #b52933;
float: left;

}




.search{
font-size: 16px;
padding: 6px;
line-height: 20px;
background: var(--basic-very-dark);
float:left;
padding: 
}

.order a{
color: var(--basic-white);
background-color: var(--basic-lime-green);
}
.order{
text-decoration: none;
position: absolute;
left: 75%;
right: 12.17%;
top: 2.81%;
bottom: 89.69%;
margin: 0px;

}

.Object{
position: absolute;
width: 940px;
height: 60px;
background: #32425C;

}

.button-buy{


}
