/* <img src="img/photo-BFG9000.jpg" width="220" height="165" alt="Перфоратор BOSCH">
<i>Интернет-магазин строительных материалов и инструментов для ремонта</i>
*/
:root{
--basic-white:#FFFFFF;
--basic-very-dark:#293449;
--basic-red:#EE3643;
--basic-green:#63A63E;
--basic-yellow:#FFBF47;
--basic-blue:#3BBCE3;
--basic-purple:#DC91D8;
--basic-lime-green:#8ed78f;
--basic-light-orange:#ffc047;
--basic-light-grayish:#f9f5f0;
--basic-white:#FFFFFF;
--basic-matt:#F1F5F7;

}

header{
background-color: var(--basic-matt);
padding-bottom: 60px; 

}

.page-body{
margin: 0;
padding: 0;
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 700;
color: ;
background-image: url();
background-position: top center;
background-repeat: no-repeat;
}

.block{
background-color: var(--basic-very-dark);
background-position: center;
color: var(--basic-white);
}
.container{
margin: 0 auto;
width: 940px;
}

.top-head{
display: grid;
grid-template-columns: 1fr min-content;
align-items: center;

}

.head-tehno a{
display: inline-block;
width: 170px;
padding: 11px 25px;
font-size: 24px;
line-height: 24px;
font-weight: 400;
font-family:"Arial",sans-serif;
text-transform: uppercase;
text-decoration: none;
text-align:center;
color: var(--basic-white);
background-color: var(--basic-red);
box-shadow: 0 5px 0 0 #b52933;
float: left;
}
.head-tehno{
position:absolute;
top: 0;
}


.search{
font-size: 16px;
padding: 6px;
line-height: 20px;
background: var(--basic-very-dark);
width: 271px;
margin-left:;
}

.top-head-helper{
display: grid;
grid-template-columns: auto auto auto;
list-style: none;	
padding-left: 0;
margin-left: 220px; 
margin-top: 0;
margin-bottom: 0;
align-items: center;
}


.order a{
color:var(--basic-white);
text-decoration: none;
}
.order{
width: 150px;
text-align: center;
background-color: var(--basic-green);
height: 100%;
padding:15px 20px;
box-sizing: border-box;

}


.button-buy{

}
.Object{
display:flex; 	
flex-direction: row;
width: 940px;
background-color: var(--basic-very-dark);
padding-top: 20px;
padding-bottom: 20px;
justify-content: space-around;
padding-left: 0px;
padding-right: 0px;

}

.Object li{
display: inline;
justify-content: center;
text-decoration:none;
}

.Object a{
color: var(--basic-white);
text-decoration:none;

}

.title-shop{
width: 250px;
float: left;
font-size: 16px;
font-style: italic;
color: var(--basic-red);
margin-left: 12%;
margin-bottom: 160px;
}

.tel{
}
main{
margin-top:60px ;
width: 100%;

}
*{
	padding: 0; margin:0;
}

.level-1 ul{
list-style: none;
display: grid;
grid-template-columns: 300px 300px 300px;
grid-template-rows: 123px ;
grid-gap: 20px;

}

.section-main{
margin: 0 auto;
width: 940px;	
}
main li{
list-style: none;
text-decoration: none;
}

.category {
background-color: var(--basic-yellow);
padding-left: 23px;
padding-right: 163px;
padding-top: 20px;
padding-bottom: 73px;
color: var(--basic-white);
}

.category:nth-child(2) {
background-color: var(--basic-blue);
}

.category:last-child {
background-color: var(--basic-purple);
}

.container-main a{
padding:10px 0;
text-transform:uppercase; 
font-size: 14px;
text-decoration:none;
color: var(--basic-white);
white-space: nowrap;

}

.level-2 ul{
display: grid;
grid-template-areas: 
"a a b"
"a a c"; 
grid-gap: 20px;

}
.men-toys {
background-color: #806F5B;
grid-area:a; 
}

.men-toys span{
color: var(--basic-white);
}

.men-toys h1 {
font-size: 36px;
text-transform: uppercase;
color: var(--basic-white);
}

.men-toys button{
width: 192px;
height: 38px;
background-color: var(--basic-red);
}

.men-toys a{
text-decoration: none;	
}

.seil50 {
background-color: blue;
grid-area:b; 

}

.delivery {
background-color: black;
grid-area:c; 
}

.button-controls{
text-align: center;
}

/*
.wrapper{
width: 100%
margin-top:60px;
background-color: red;
}

.Popular-goods{
width: 940px;
margin: 60px auto;
}
*/
